._8esn {
    display: inline-block;
    vertical-align: top;
}
._8iep {
    height: 456px;
    width: 396px;
}
._8icy ._6luv {
    padding-bottom: 24px;
    padding-top: 10px;
}    
._6luv {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}
._58mk {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}
