<div class = 'wrapper'>
    <div class = "rightside-card">
        <div class = "card-left">

        </div>
        <div class = "card-right">
            <div class = "text1">
                Login to your account
            </div>
            <div class = "text2">
                Don't have an account? Sign Up Free!
            </div>
            <div class = "input-container">
                <input type = "text" class = "input1" placeholder="Email Address"/>
            </div>
            <div class = "input-container">
                <input type = "password" class = "input1" placeholder="Password"/>
            </div>
            <div class = "checkbox-container1">
                <div class = "checkbox-container">
                    <input type = "checkbox"/>
                    <div class = "first-text">
                        Remember me
                    </div>
                    <div class = "second-text">
                        Forgot password?
                    </div>
                </div>
            </div>
            <div class = "login-button">
                Login with email
            </div>
        </div>
    </div>
</div>
