.picture {
    height: 50px;
    width: 50px;
}
.logout-button {
    margin-top: 55px;
    width: 85%;
    background-color: #4f75ff;
    color: white;
    position: relative;
    left: 7.5%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}